.header
{
    background-color: black;
    width: 100%;
    float: left;
    padding-top: 22px;
    padding-bottom: 7px;
    margin-top: -8px;
    margin-bottom: 8px;
    margin-bottom: 10px;
    transition: 0.5s;
    
}

.sidebar-wrapper .sidebar-brand
{
    height: 78px !important;
}

.menu-pin
{
    float: left;
}

.menu-logout

{
    float: right;
    margin-right: 20px;
}
.tidakditemukan
{
    margin:auto;
    margin-top: 18%;
    width: 30%;


}
.background
{
    background-image: url("/asset/img/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header { width:1000px; }

@media only screen and (max-width: 320px){

       header { width:320px; }

}